*.lo
*.la
*.o
*.a
*.so
.libs
.deps
m4/
Makefile
Makefile.in
depcomp
install-sh
ltmain.sh
libtool
missing
stamp-*
configure
aclocal.m4
config.guess
config.status
config.log
config.sub
config.h*
compile
autom4te.cache/

mpris.pc
